.flatblock.block-home_about.pk-1 ul{
	list-style-type: none;
    padding-left: 0;
}
.flatblock.block-home_about.pk-1 ul i.fa.fa-check-square-o {
    margin-right: 7px;
}
.about-house-content-center {
    margin-top: 40px;
    text-align: center;
}
.block-about-text {
    overflow: hidden;
    float: left;
    margin-top: 50px;
}
.about-house-content-center{
	margin-top: 50px;
}
.block-about-text .sunhouse-title,.about-house-content-center .sunhouse-title {
    margin-bottom: 0px;
}
.contact-pages .fa {
    font-size: 20px;
    color: #008F49;
    margin-right: 7px;
}

.maps {
    margin: 50px 0;
}
.sunhouse-title.content-pages {
    margin-top: 60px;
}
 .content-pages .icon-image img {
    margin: 0 auto;
    width: auto;
}
.contact-agent-content {
    background-color: #00c853;
    color: #fff;
    padding: 30px 20px 10px;
    background-image: url('../images/301_contact-jena.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.contact-agent-widget{
    padding: 0;
}
.contact-agent-content::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: #263238;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.contact-agent-content:hover::before {
    opacity: 0.95;
}
.contact-agent-content .title,
.contact-agent-content .agent-info,
.contact-agent-content .btn {
    position: relative;
    z-index: 10;
}
.mfp-title {
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
}
body img.mfp-img{
    padding-top: 0;
}