.top-menu {
	background: #292f32;
}
.top-menu li p {
	padding: 15px 0;
    margin: 0;
    line-height: 20px;
    color: #a1b1bc;
}
.top-menu .navbar-default .navbar-nav li a {
    color: #a1b1bc;
    font-size: 14px;
}
.top-menu .navbar-default .navbar-nav>li>a:focus, 
.top-menu .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.top-menu .navbar-default {
    background-color: #292f32;
    border: none;
    margin-bottom: 0;
}

.top-menu .navbar-form .form-control {
    border-radius: 0px;
}

img.logo {
    height: 46px;
}
