<!--
    В Этом шаблоне 1 переменная all_services
    все остальное мы получаем у нее циклом

    all_services - список всех сервисов
        - (у каждого объекта списка такой же набор данных как и у service)

    объект страницы
        - page.id - id страницы
        - page.name - имя страницы
        - page.page - описание страницы
        - page.meta_title - meta title страницы
        - page.meta_description - meta title страницы

 -->


 {% extends "base.html" %}
 {% load header_tags %}
 {% load static from staticfiles %}
 {% load flatblocks %}

 <!-- home-section
     ================================================== -->
 {% block home_section %}
 {% endblock %}
 <!-- End home section -->


 <!-- banner-section
     ================================================== -->
 {% block banner_section %}
     <section class="banner-section">
         <div class="container">
             <h2>{{ page.name }}</h2>
         </div>
     </section>
 {% endblock %}
 <!-- End banner section -->

 <!-- services-offer
     ================================================== -->
 {% block services_section %}
 {% endblock %}
 <!-- End services-offer section -->

 <!-- projects
     ================================================== -->
 {% block projects_section %}
 {% endblock %}
 <!-- End projects -->

 <!-- tabs-section
     ================================================== -->
{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
            <div class="row">

                <div class="col-sm-7">
                    <div class="about-us-box">
                        <p>{{ page.page|safe }}</p>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="about-box">
                        {% for image in page.get_all_images %}
                            <img src="{{ image.get_image_url }}" alt="">
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
 <!-- End tabs section -->


 <!-- quote-section
     ================================================== -->
 {% block quote_section %}
 {% endblock %}
 <!-- End quote section -->
