{% extends "base.html" %}
{% load core_tags %}
{% load configs_tags %}
{% load flatblocks %}
{% load cropping %}


{% block page_css %}
	<link type="text/css" rel="stylesheet" href="/static/assets/css/flaticon.css">
	<link type="text/css" rel="stylesheet" href="/static/assets/css/services.css">
{% endblock page_css %}


{% block content %}
<div class="section background-opacity page-title blog bg-overlay">
	<div class="container">
		<div class="page-title-wrapper"><h2 class="captions">Услуги</h2>
			<ol class="breadcrumb">
				<li><a href="/">Главная</a></li>
				<li class="active"><a href="#">Услуги</a></li>
			</ol>
		</div>
	</div>
</div>


<div class="section blog">
	<div class="container">
		<div class="blog-wrapper row">
			<div class="col-md-12 blog-content padding-top padding-bottom">

				<ul class="list-services list-unstyled">
					{% for service in services %}
						<li 
							class="list-services__item"
							style="background-image: url({% cropped_thumbnail service 'image_list_crop' scale=1 %});">
							<a class="list-services__link clearfix" href="{{ service.get_url }}">
								{{ service.icon|safe }}
								<div class="list-services__inner">
									<h3 class="list-services__title">{{ service.name }}</h3>
									<div class="list-services__description">{{ service.preview_text|truncatechars:140|safe }}</div>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>
</div>
{% endblock content %}
