{% extends "base.html" %}
{% load core_tags %}
{% load configs_tags %}
{% load flatblocks %}
{% load cropping %}


{% block banner_block %}
	<div class="section background-opacity page-title service-detail bg-overlay"
		style="background-image: url('/media/{{ service.bg_image }}')">
		<div class="container">
			<div class="page-title-wrapper">
				<h1 class="captions">{{ service.name }}</h1>
				<ol class="breadcrumb">
					<li><a href="index.html">{{ service.slogan }}</a></li>
				</ol>
			</div>
		</div>
	</div>
{% endblock banner_block %}


{% block content %}
<div class="section blog-detail">
	<div class="container">
		<div class="blog-detail-wrapper row">
			<div class="col-md-9 blog-content padding-top padding-bottom">
				<div class="sunhouse-item item-blog-detail">
					<div class="wrapper-image">
						<div class="image-inner">
							<img
								src="/media/{{ service.image }}"
								alt=""
								class="img-responsive"
								style="height: auto;"/>
						</div>
					</div>
					<div class="wrapper-content">
						<div class="info-house">
							<div class="info"><i class="fa fa-user"></i><span class="info-inner">Монолит</span></div>
							<div class="info"><i class="fa fa-file-o"></i><span class="info-inner">{{ service.name }}</span></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="blog-text">{# <p class="title">{{ service.name }}</p> #}
					{{ service.text|safe }}
				</div>
			</div>
			<div class="col-md-3 sidebar margin-top">
				{% contact_widget request %}

				<div class="category-widget widget">
					<div class="title-widget">Связанные услуги</div>
					<div class="content-widget">
						<ul class="list-unstyled">
							{% for serv in rel_services %}
								<li class="category-group">
									<a href="/services/{{ serv.slug }}" class="cat-item">
										<span class="pull-left"><i class="fa fa-angle-right"></i>{{ serv.name }}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="feature-widget widget">
					<div class="title-widget">Публикации по теме</div>
					<div class="content-widget">

						{% for post in recent_posts %}
							<div class="media feature-item">
								<div class="media-left feature-img"><img src="/media/{{ post.image }}" alt=""/></div>
								<div class="media-right media-middle feature-info"><a href="{{ post.get_url }}" class="media-heading feature-title">{{ post.name }}</a>
									<div class="info"><a href="blog-detail.html#" class="category">Категория: <span> Real Estate</span></a></div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
