.flatblock.block-home_about.pk-1 ul{
	list-style-type: none;
    padding-left: 0;
}
.flatblock.block-home_about.pk-1 ul i.fa.fa-check-square-o {
    margin-right: 7px;
}
.about-house-content-center {
    margin-top: 40px;
    text-align: center;
}