	<div class="contact-agent-widget">
		<div class="title">Задать вопрос</div>
		<div 
			class="media contact-agent-content"
			style="padding: 10px 0px;">
			<div class="media-heading">Мы рады ответить на любые Ваши вопросы.</div>
		</div>
		<div 
			class="agent-info"
			style="padding-top: 10px;">
			<div 
				class="contact-info"
				style="text-align: center;">
				<a 
					name="" 
					data-toggle="modal" 
					data-target="#myModal" 
					class="btn btn-transparent white">Написать нам</a>
			</div>
		</div>
	</div>