<div id="measureForm" tabindex="-1" role="dialog" class="contact-fast modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="new-letter-content modal-content">
      <div class="new-letter-left">
      	<img src="/static/assets/images/landing-banner4.jpg" alt="" class="img-responsive">
        <div class="agent-single-info-wrapper">
          <div class="agent-single-info"><i class="icon fa fa-mobile-phone"></i><span class="text">{{ performer_profile.phone }}</span></div>
          <div class="agent-single-info"><i class="fa fa-envelope-o"></i><span class="text">{{ config.site_email }}</span></div>
          <div class="agent-single-info skype"><i class="icon fa fa-skype"></i><a href="#" class="text">{{ performer_profile.skype }}</a></div>
        </div>
      </div>
      <div class="new-letter-right">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        <h4 class="underline">Запись на замер</h4>

        <form action="/measure-form/" method="post">{% csrf_token %}
        	{{ form }}
        	<button type="submit" class="btn btn-blue">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
